#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(49, 44, 40);
}

* {
  margin: 0;
  padding: 0;
  }

  .title img {
    width: 100%;
    max-width: 1000px;
    padding-bottom: 40px;
}